---
import Container from "@components/Container/Container.astro";
import Heading from "@components/Heading/Heading.astro";
import SectionFull from "@components/Section/SectionFull/SectionFull.astro";
import { Image } from "astro:assets";
import image1 from "./assets/interior-instagram-1.jpg";
import image2 from "./assets/interior-instagram-2.jpg";
import image3 from "./assets/interior-instagram-3.jpg";
import image4 from "./assets/interior-instagram-4.jpg";
import image5 from "./assets/interior-instagram-5.jpg";
import image6 from "./assets/interior-instagram-6.jpg";
---

<SectionFull class="bg-lightGray">
  <Container
    class="relative text-center pt-[325px] pb-[370px] xl:pt-[270px] xl:pb-[630px] -my-8 lg:my-0"
  >
    <Heading level="2"> Follow us on Instagram </Heading>

    <a
      href="https://www.instagram.com/"
      target="_blank"
      class="font-serif text-3xl lg:text-5xl italic tracking-tight"
    >
      @imageryinteriors
    </a>

    <Image
      src={image1}
      alt="Interior Instagram"
      widths={[185, 277, 365]}
      sizes={`(max-width: 768px) 185px, (max-width: 1024px) 277px, 365px`}
      class="w-[185px] h-[228px] lg:w-[277px] lg:h-[342px] xl:w-[365px] xl:h-[450px] absolute right-0 top-0 object-cover object-center"
    />
    <Image
      src={image2}
      alt="Interior Instagram"
      widths={[123, 184, 365]}
      sizes={`(max-width: 768px) 123px, (max-width: 1024px) 184px, 365px`}
      class="w-[123px] h-[150px] lg:w-[184px] lg:h-[225px] xl:w-[365px] xl:h-[450px] absolute left-0 top-[128px] object-cover object-center"
    />
    <Image
      src={image3}
      alt="Interior Instagram"
      widths={[105, 157, 325]}
      sizes={`(max-width: 768px) 105px, (max-width: 1024px) 157px, 325px`}
      class="w-[105px] h-[105px] lg:w-[157px] lg:h-[157px] xl:w-[325px] xl:h-[325px] absolute left-[80px] top-[425px] xl:left-1/2 xl:-translate-x-1/2 xl:top-[455px] object-cover object-center"
    />
    <Image
      src={image5}
      alt="Interior Instagram"
      widths={[260, 390, 270]}
      sizes={`(max-width: 768px) 260px, (max-width: 1024px) 390px, 270px`}
      class="w-[260px] h-[160px] lg:w-[390px] lg:h-[240px] xl:w-[270px] xl:h-[270px] absolute left-0 bottom-0 lg:left-1/2 lg:-translate-x-1/2 xl:left-[213px] xl:top-[675px] object-cover object-center"
    />
    <Image
      src={image6}
      alt="Interior Instagram"
      widths={[105, 184, 330]}
      sizes={`(max-width: 768px) 105px, (max-width: 1024px) 184px, 330px`}
      class="w-[105px] h-[130px] lg:w-[184px] lg:h-[225px] xl:w-[270px] xl:h-[330px] absolute top-[465px] right-[16px] xl:right-[155px] xl:top-[675px] object-cover object-center"
    />
    <Image
      src={image4}
      alt="Interior Instagram"
      widths={[185, 210]}
      sizes={`((max-width: 1024px) 185px, 210px`}
      class="hidden md:inline lg:hidden xl:inline w-[185px] h-[228px] xl:w-[210px] xl:h-[210px] absolute right-[275px] bottom-[45px] xl:right-[270px] xl:top-[545px] object-cover object-center"
    />
  </Container>
</SectionFull>
