---
import { Button } from "@components/Button";
import Container from "@components/Container/Container.astro";
import Heading from "@components/Heading/Heading.astro";
import SectionFull from "@components/Section/SectionFull/SectionFull.astro";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";
import {
  ProjectsSlider,
  type ProjectsSliderItemProps,
} from "../ProjectsSlider";
import { filterRecentProjects } from "../utils";
import { getBaseUrl } from "@utils/getBaseUrl";

interface Props {
  title: string;
  linkTitle?: string;
  linkHref?: string;
  class?: string;
}

const {
  class: className,
  title,
  linkHref,
  linkTitle = "View all",
} = Astro.props;

const projects = await getCollection("projects");
const projectsByDateCompletion = filterRecentProjects(projects);
const baseUrl = getBaseUrl();

const getItems = async (): Promise<ProjectsSliderItemProps[]> =>
  await Promise.all(
    projectsByDateCompletion.map(async ({ collection, slug, data }) => {
      const optimizedImage = await getImage({
        src: data.cover.image,
        height: 390,
      });

      return {
        img: optimizedImage.src,
        alt: data.cover.alt,
        title: data.name,
        date: `${new Date(data.dateCompletion).getFullYear()}`,
        href: `${baseUrl}/${collection}/${slug}`,
        tags: data.tags,
      };
    }),
  );

const items: ProjectsSliderItemProps[] = await getItems();
---

<SectionFull class:list={["bg-lightGray", className]}>
  <Container>
    <div class="flex flex-col items-end lg:flex-row">
      <Heading level="2" class="lg:w-2/3">
        {title}
      </Heading>

      {
        linkHref && (
          <div class="mt-6 lg:mt-0 lg:w-1/3 lg:flex lg:items-center lg:justify-end">
            <Button type="link" variant="underlined" href={linkHref}>
              {linkTitle}
            </Button>
          </div>
        )
      }
    </div>
  </Container>

  <div class="mt-14 lg:mt-20">
    <ProjectsSlider client:only="react" items={items} />
  </div>
</SectionFull>
